<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Cwiczenia</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/waluta']" routerLinkActive="router-link-active" >Konwerter walutowy <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cytaty']" routerLinkActive="router-link-active" >Cytaty</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/promise']" routerLinkActive="router-link-active" >Async respond time</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/bookmarks']" routerLinkActive="router-link-active" >Bookmarks</a>
            </li>
        </ul>
    </div>
</nav>
<app-screen></app-screen>
